body{
  background-color: #1b9ae8;
}

header{
  background-color: #0288D1;
  margin-top: -2%;
  padding-top: 1%;
  text-align: center;
  color: #fff;
}
textarea {
  background-color: #fff !important;
  max-width: 100%;
}
